<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Configuración del Juego Ahorcado</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h3 class="text-center mb-4">Registro para un evento</h3>

    <form method="post" action="/guardarEstandar">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" >
        </div>

        <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" class="form-control" id="apellido" name="apellido" >
        </div>

        <div class="form-group">
            <label for="dni">DNI:</label>
            <input type="text" class="form-control" id="dni" name="dni" >
        </div>

        <div class="form-group">
            <label for="codigo">Codigo PUCP:</label>
            <input type="text" class="form-control" id="codigo" name="codigo" >
        </div>

        <div class="form-group">
            <label for="direccion">Direccion:</label>
            <input type="text" class="form-control" id="direccion" name="direccion" >
        </div>

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Registrar</button>
            <button type="submit" formaction="/MostrarLista"  class="btn btn-secondary">Ver Lista</button>
        </div>
    </form>
    <!-- Imagen de Bienvenida -->
    <div class="text-center mb-4">
        <img src="https://i.pinimg.com/236x/26/60/5a/26605abcd9987a4e470af07b59e4affc.jpg" alt="Bienvenido" class="img-fluid" style="max-width: 100%; height: auto;">
    </div>

    <!-- Mensaje de Bienvenida -->
    <div class="mt-4 text-center">
        <p class="lead">¡Gracias por registrarte! Estamos emocionados de tenerte en nuestro evento.</p>
    </div>

</div>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
